name: Publish

on:
  push:
    tags:
      - "v*"   # e.g. v0.1.0

jobs:
  run:
    runs-on: ubuntu-latest
    environment:
      name: pypi
    permissions:
      id-token: write
      contents: read
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Install uv
        uses: astral-sh/setup-uv@v5
      - name: Install Python
        run: uv python install 3.13
      - name: Build
        run: uv build
      - name: Publish
        run: uv publish
